*{
    /* google web font */
    font-family: 'Raleway', sans-serif; 
    
}

/* grid  */
#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

main{
    grid-area: main;
}

section{
    height: 80em;
    padding-top: 4em;
    margin: 0px !important;
}

section header div img{
    margin: 0 4.5em;
    
    height: 10em;
    width: 10em;
}

aside{
    grid-area: aside;
    background-color: #cccccc;
    height: 170px;
   
}

footer{
    grid-area: footer;
    height: 700px;
    background-color: #f2f2f2;
    
}

/* 섹션 배경 */
.navbar-brand{
    font-weight: bold;
}

.scene {
    height: 50em;
    /* width: 30em; */
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    border: 1px solid
}

.scene.one{
    /* padding-top: 1em;    */
    background-image: url(img/heic0910e.jpg);

    
}

.scene.two{
    background-image: url(img/heic1501a.jpg);
}

.scene.three{
    background-image: url(img/heic1608a.jpg);
}

.scene header{
    padding: 0px !important;
    color:black;
    position: relative;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    font-size:1.5rem;
    text-align: center;
}


.info{
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;

    
    
    margin: 1em;
    width: 20em;
    height: 10em;
    text-align: left;
    display:inline-block;
    /* border: 1px solid black; */

}

/* 아이템 결제연결 버튼*/
.btn {
    width: 100%;
    height: 2em;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 0.3em;
    font-size: 0.7em;
    cursor: pointer;
  }

/* Green */
.success {
    border-color: #4CAF50;
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

@media(max-width:1200px){
    .scene.one{
        padding-top: 2em;   
        height: 50em; 
    }
    
    /* 아이템 결제연결 버튼*/
    .btn {
        width: 100%;
        height: 3em;
        border: 2px solid rgb(134, 67, 67);
        background-color: white;
        color: rgb(187, 70, 70);
        padding: 14px 28px;
        font-size: 0.7em;
        cursor: pointer;
    }

    /* Green */
    .success {
        border-color: #4CAF50;
        color: green;
    }

    .success:hover {
        background-color: #4CAF50;
        color: white;
    }
}
@media(max-width:1066px){
    .scene.one{
        padding-top: 1em;   
        height: 90em; 
    }
    
    /* 아이템 결제연결 버튼*/
    .btn {
        width: 100%;
        height: 3em;
        border: 2px solid rgb(134, 67, 67);
        background-color: white;
        color: black;
        padding: 14px 28px;
        font-size: 0.7em;
        cursor: pointer;
    }

    /* Green */
    .success {
        border-color: #4CAF50;
        color: green;
    }

    .success:hover {
        background-color: #4CAF50;
        color: white;
    }
}

@media(max-width:990px){
    .scene.one{
        padding-top: 2em;   
        height: 85em; 
    }
    /* 아이템 결제연결 버튼*/
    .btn {
        width: 100%;
        height: 3em;
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 14px 28px;
        font-size: 0.7em;
        cursor: pointer;
    }

    /* Green */
    .success {
        border-color: #4CAF50;
        color: green;
    }

    .success:hover {
        background-color: #4CAF50;
        color: white;
    }
}
@media(max-width:558px){
    .scene.one{
        padding-top: 2em;   
        height: 85em; 
    }
    .info{
        width: 12em;   
    }

    section header div img{
        margin: 0 0.9em;
        
        height: 10em;
        width: 10em;
    }
    
    /* 아이템 결제연결 버튼*/
    .btn {
        width: 100%;
        height: 3em;
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 14px 28px;
        font-size: 0.7em;
        cursor: pointer;
    }

    /* Green */
    .success {
        border-color: #4CAF50;
        color: green;
    }

    .success:hover {
        background-color: #4CAF50;
        color: white;
    }
    
}
