
.icon-noun_1195043_cc:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\e805'; } /* '' */
.icon-right:before { content: '\e806'; } /* '' */
.icon-down:before { content: '\e807'; } /* '' */
.icon-right-dir:before { content: '\e808'; } /* '' */
.icon-down-dir:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-home-outline:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-chart-alt-outline:before { content: '\e80e'; } /* '' */
.icon-question:before { content: '\e80f'; } /* '' */
.icon-attention:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e811'; } /* '' */
.icon-lightbulb:before { content: '\e812'; } /* '' */
.icon-thumbs-up:before { content: '\e813'; } /* '' */
.icon-music:before { content: '\e814'; } /* '' */
.icon-folder:before { content: '\e815'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-plus-circled:before { content: '\e817'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-github:before { content: '\f055'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */