*{
    /* google web font */
    font-family: 'Nanum Gothic Coding', monospace;
    
}

/* grid  */
#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

main{
    
    grid-area: main;
}

section{
    font-family: 'Nanum Gothic Coding', monospace;    
    z-index: 1;
    height: 80em;
    padding-top: 4em;
    margin: 0px !important;
}

section header div img{
    margin: 0 4.5em;
    
    height: 10em;
    width: 10em;
}

aside{
    grid-area: aside;
    background-color: #cccccc;
    height: 170px;
   
}

footer{
    grid-area: footer;
    height: 700px;
    background-color: #f2f2f2;
    
}

/* 섹션 배경 */
.navbar-brand{
    font-weight: bold;
}

.scene {
    height: 50em;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    border: 1px solid
}

.scene.one{
    height: 70em;

    background-image: url(../img/heic0910e.jpg);    
}

.scene.two{
    background-image: url(../img/heic1501a.jpg);
}

.scene.three{
    background-image: url(../img/heic1608a.jpg);
}

.scene header{
    padding-top: 0px;
    padding: 0px !important;
    color:black;
    position: absolute;
    font-size:1.5rem;
    text-align: center;
}
/* 메인 아이템 박스 */
.box{
    position: absolute;
    width: 100%;
    transition: 0.1s linear;
    padding-left: 8em;
    padding-top: 3em;
}

.redbox{
    margin-top: 8em;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.greenbox{
    margin-top: 8em;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.title{
     width: 8em;
    display: inline; 
    float: left;
    padding: 1em 0; 
    margin-left: 5em; 
    font-size: 3rem;
    text-align: left;
}

.title h1{
    padding: 0.5em;
    font-family: 'Nanum Gothic Coding', monospace;    
}

section header div img{
 width: 20em;
 height: auto;
 margin: 0px;
}


/* 아이템 결제연결 버튼*/
.btn {
    width: 100%;
    height: 2em;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 0.3em;
    font-size: 0.7em;
    cursor: pointer;
  }

/* Green */
.success {
    border-color: #4CAF50;
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

@media(max-width:1200px){
    .scene.one{
        padding-top: 2em;   
        height: 80em; 
    }
    
    /* 아이템 결제연결 버튼*/
    .btn {
        width: 100%;
        height: 3em;
        border: 2px solid rgb(134, 67, 67);
        background-color: white;
        color: rgb(187, 70, 70);
        padding: 0px 28px;
        font-size: 0.4em;
        cursor: pointer;
    }

    /* Green */
    .success {
        border-color: #4CAF50;
        color: green;
    }

    .success:hover {
        background-color: #4CAF50;
        color: white;
    }
}
@media(max-width:1066px){

    .box{
        width: 50%;
    }
    .scene.one{
        padding-top: 1em;   
        height: 140em; 
    }
    .title h1{
      font-size: 3em;
    }
    /* 아이템 결제연결 버튼*/
    .btn {
        width: 100%;
        height: 3em;
        border: 2px solid rgb(134, 67, 67);
        background-color: white;
        color: rgb(187, 70, 70);
        padding: 0px 28px;
        font-size: 0.4em;
        cursor: pointer;
    }

    /* Green */
    .success {
        border-color: #4CAF50;
        color: green;
    }

    .success:hover {
        background-color: #4CAF50;
        color: white;
    }
}

@media(max-width:990px){

    .scene.one{
        padding-top: 2em;   
        height: 70em; 
    }
    /* 아이템 결제연결 버튼*/
    .btn {
        width: 100%;
        height: 3em;
        border: 2px solid rgb(134, 67, 67);
        background-color: white;
        color: rgb(187, 70, 70);
        padding: 0px 28px;
        font-size: 0.4em;
        cursor: pointer;
    }
    .title{
        margin-left: 0px;
    }


    .titleheader{
        float: left;
        text-align: left;
        right: 0px;
    }
    .title h1{
        /* display: block; */
        padding: 0px;
        margin: 0px;
        font-size: 2.5em;
        /* margin-left: 2em !important; */
    }

    
    section header div img{
        margin: 0 0.9em;
        height: 10em;
        width: 10em;
    }
    /* Green */
    .success {
        border-color: #4CAF50;
        color: green;
    }

    .success:hover {
        background-color: #4CAF50;
        color: white;
    }
}
@media(max-width:558px){
    .scene.one{
        padding-top: 2em;   
        height: 70em; 
    }
    .info{
        width: 12em;   
    }

   
    section header div img{
        margin: 0 0.9em;
        height: 10em;
        width: 10em;
    }
    .title{
        /* margin-left: 12em !important; */
    }
    
    /* 아이템 결제연결 버튼*/
    .btn {
        width: 100%;
        height: 3em;
        border: 2px solid rgb(134, 67, 67);
        background-color: white;
        color: rgb(187, 70, 70);
        padding: 0px 28px;
        font-size: 0.4em;
        cursor: pointer;
    }

    /* Green */
    .success {
        border-color: #4CAF50;
        color: green;
    }

    .success:hover {
        background-color: #4CAF50;
        color: white;
    }
    
}
@media(max-width:480px){
    .scene.one{
        padding-top: 2em;   
        height: 80em; 
    }
    .info{
        width: 12em;   
    }

   
    section header div img{
        margin: 0 1em;
        padding-left: 30px;
        height: 10em;
        width: 10em;
    }
    .title h1{
        font-size: 2em;
        padding: 0.5em;
        font-family: 'Nanum Gothic Coding', monospace;    
        
    }
    
    /* 아이템 결제연결 버튼*/
    .btn {
        width: 100%;
        height: 3em;
        border: 2px solid rgb(134, 67, 67);
        background-color: white;
        color: rgb(187, 70, 70);
        padding: 0px 28px;
        font-size: 0.4em;
        cursor: pointer;
    }

    /* Green */
    .success {
        border-color: #4CAF50;
        color: green;
    }

    .success:hover {
        background-color: #4CAF50;
        color: white;
    }
    
}
