
*{
    /* google web font */
    font-family: 'Raleway', sans-serif; 
    
}
/* fixed nav */
body {margin:0;}

.navbar {
  overflow: hidden;
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #161414;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

/* fixed nav end */


.logo{
    width: 100px;
    padding-top: 15px;
    text-align: left;
}

.hr{
    margin-top: 0;
}

.navbar {
    border: 1px solid black;


    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-top: 15px !important;
    margin-bottom: -30px !important;



    /* text-align: center; */
    
    overflow: hidden-x;
    /* background-color: #333; */
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
  }

div{
    /* border: 1px solid black; */
}





/* 브라우저 사이즈가 991 이하가 되면 */
@media only screen and (max-width: 991px) {
    .supertitle{
        text-align: left;
    }
}