*{
    /* google web font */
    font-family: 'Raleway', sans-serif; 
    
}

body {
    margin:0;
}

.container{
    margin: 0px;
    width: 100%;
    
}

.container #logo{
    color: black;
    font-size: 1.7em;
    font-family: sans-serif;
    font-weight: bolder;
    padding-right: 4em;
}
.container .row{
    height: 30em;
    text-align: center;
    font-size: 20px;
}

.container .row .col-md-12{
    height: 100%;

}

#main{
    height: 80em;
    padding-top: 4em;
}

#footer-button{
    height: 2em;
}

div ,li{
    border: 1px solid black;
}